// _variables.scss

:root {
  --art-main-bg-color: #fff;
  --custom-radius: 4px;
  --main-color: #409eff;
  --ElColor-primary: #409eff;
}

$color-primary: #1453ff;
$color-success: #0dc986;
$font-size-base: 14px;
$border-radius-base: 4px;
$padding-base: 8px;
